@model IEnumerable<Nhom3_BTL_NguyenDuyHung.Models.KhoaHocViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/study.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <style>
        .next {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
                margin-left: 400px !important;
            align-items: flex-end;
        }
        .card-khoahoc1-title
        {
            
        }
        .card-khoahoc1-title a {
            color: black;
            font-weight: 700;
            padding-top: 70px;
            padding-left: 20px;
            font-size: 17px;
        }
        .trangthai
        {
            
        }
    </style>
</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_toggle"> <img src="/img/logo.svg" alt=""> </div>
        <div class="header_img"> <img src="/img/user-286.svg" alt=""> </div>
    </header>
    <div class="l-navbar mt-lg-5" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <i class='bx bx-layer nav_logo-icon'></i>
                    <span class="nav_logo-name">Duy Hung</span>
                </a>
                <div class="nav_list">

                    <a href="@Url.Action("Index", "Studys")" class="nav_link active" title="Overview">
                        <i><img src="/img/over_view_active.svg" alt="Icon"></i>
                        <span class="nav_name">Overview</span>
                    </a>
                    <a href="@Url.Action("Index", "Studyplant")" class="nav_link " title="Study Plan">
                        <i><img src="~/img/study_plan.svg" alt="Icon"></i>
                        <span class="nav_name">Study Plan</span>
                    </a>

                    <a href="#" class="nav_link">
                        <i><img src="/img/my_courses.svg"></i>
                        <span class="nav_name">My Courses</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i><img src="/img/test_practice.svg"></i>
                        <span class="nav_name">Test Practice</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i><img src="/img/learning_profile.svg"></i>
                        <span class="nav_name">Learning Profile</span>
                    </a>
                    <!-- <a href="#" class="nav_link">
                    <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                    <span class="nav_name">Stats</span> </a>  -->
                </div>
            </div>
            <div class="bt-out">
                <a href="#" class="nav_link">
                    <i class="fa-solid fa-arrow-right"></i>
                    <span class="nav_name">Về trang chủ</span>
                </a>
            </div>

        </nav>
    </div>
    <!--Container Main start-->
    <div class="height-100 bg-light">
        <div class="acc-title">
            <div class="ava">
                <img src="/img/user-286.svg" alt="">
            </div>
            <div class="profile">
                <h4>Xin chào @ViewBag.Name</h4>
                <h6>Cùng uneti tiến bộ mỗi mỗi ngày nào!</h6>
            </div>
        </div>
        <div class="container-learn">
            <div class="con-learn_1">
                <h4>Bài học gần nhất</h4>
                <div class="card-text">
                    <div class="anh">
                        <img src="/img/icon1.png" alt="">
                    </div>
                    <div class="info">
                        <h4>Bài giới thiệu</h4>
                        <h6>2/2 Sections <svg data-v-9f8ad5c7="" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path data-v-9f8ad5c7="" d="M8.27871 2.36249C8.98281 0.879173 11.0172 0.879171 11.7213 2.36248L12.9382 4.92603C13.2178 5.51505 13.7582 5.92332 14.3834 6.01777L17.1044 6.42886C18.6788 6.66672 19.3075 8.67835 18.1682 9.83295L16.1993 11.8284C15.7469 12.2869 15.5405 12.9475 15.6473 13.5949L16.1121 16.4125C16.381 18.0428 14.7352 19.2861 13.327 18.5163L10.8932 17.186C10.334 16.8804 9.66597 16.8804 9.10678 17.186L6.67304 18.5163C5.26484 19.2861 3.619 18.0428 3.88794 16.4125L4.35274 13.5949C4.45954 12.9475 4.2531 12.2869 3.8007 11.8284L1.83177 9.83295C0.692508 8.67835 1.32116 6.66672 2.89558 6.42886L5.61658 6.01777C6.24178 5.92332 6.78225 5.51506 7.06184 4.92603L8.27871 2.36249Z" fill="url(#paint0_linear_25253_1967)"></path><defs data-v-9f8ad5c7=""><linearGradient data-v-9f8ad5c7="" id="paint0_linear_25253_1967" x1="10" y1="1.25" x2="10" y2="18.75" gradientUnits="userSpaceOnUse"><stop data-v-9f8ad5c7="" stop-color="#FFD25D"></stop><stop data-v-9f8ad5c7="" offset="1" stop-color="#FF9F00"></stop></linearGradient></defs></svg>6/6</h6>
                    </div>
                    <div class="next">
                        <div class="icons">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.16577 4.44448C4.36022 4.44448 4.48985 4.31484 4.48985 4.1204V2.82408C4.48985 2.62963 4.36022 2.5 4.16577 2.5H2.22129C1.67036 2.5 1.24905 3.01853 1.24905 3.63428V6.93989C1.24905 8.43065 2.2537 9.62975 3.51761 9.62975H4.16577C4.36022 9.62975 4.48985 9.50012 4.48985 9.30567V8.00935C4.48985 7.8149 4.36022 7.68527 4.16577 7.68527H3.84169C3.55002 7.68527 3.19353 7.23156 3.19353 6.55099V4.44448H4.16577Z" fill="#FFB800"></path><path d="M17.777 2.5H15.8326C15.6381 2.5 15.5085 2.62963 15.5085 2.82408V4.1204C15.5085 4.31485 15.6381 4.44448 15.8326 4.44448H16.8048V6.55099C16.8048 7.23156 16.4483 7.68527 16.1566 7.68527H15.8326C15.6381 7.68527 15.5085 7.8149 15.5085 8.00935V9.30567C15.5085 9.50012 15.6381 9.62975 15.8326 9.62975H16.4807C17.7446 9.62975 18.7493 8.43066 18.7493 6.93989V3.63428C18.7493 3.01853 18.328 2.5 17.777 2.5Z" fill="#FFB800"></path><path d="M11.655 12.8335C11.6136 12.6251 11.448 12.5001 11.241 12.5001H8.75719C8.55021 12.5001 8.38462 12.6251 8.34323 12.8335L7.51529 17.0002C7.4739 17.1252 7.51529 17.2502 7.59809 17.3335C7.68088 17.4169 7.80507 17.5002 7.92926 17.5002H12.0689C12.1931 17.5002 12.3173 17.4585 12.4001 17.3335C12.4829 17.2502 12.5243 17.1252 12.4829 17.0002L11.655 12.8335Z" fill="#FFB800"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.07801 1.25H15.9203C16.1177 1.25 16.2493 1.39286 16.2493 1.60715V9.10727C16.2493 11.6787 14.3413 13.7502 11.9729 13.7502H8.02544C5.65698 13.7502 3.74905 11.6787 3.74905 9.10727V1.60715C3.74905 1.39286 3.88064 1.25 4.07801 1.25ZM10.4909 5.31791C10.2897 4.8941 9.70842 4.8941 9.50725 5.31791L9.15957 6.05036C9.07968 6.21866 8.92526 6.33531 8.74663 6.36229L7.96918 6.47975C7.51934 6.54771 7.33973 7.12247 7.66523 7.45236L8.22779 8.0225C8.35705 8.1535 8.41604 8.34224 8.38552 8.52722L8.25272 9.33226C8.17588 9.79807 8.64613 10.1533 9.04848 9.93337L9.74384 9.55328C9.90362 9.46594 10.0945 9.46594 10.2543 9.55328L10.9496 9.93337C11.352 10.1533 11.8222 9.79807 11.7454 9.33226L11.6126 8.52722C11.5821 8.34224 11.6411 8.1535 11.7703 8.0225L12.3329 7.45236C12.6584 7.12247 12.4788 6.54771 12.0289 6.47975L11.2515 6.36229C11.0728 6.33531 10.9184 6.21866 10.8385 6.05036L10.4909 5.31791Z" fill="#FFDC52"></path><path d="M13.5286 16.2502H6.46967C5.64612 16.2502 4.99905 16.7503 4.99905 17.3866V18.523C4.99905 18.6594 5.1167 18.7503 5.29318 18.7503H14.7051C14.8816 18.7503 14.9992 18.6594 14.9992 18.523V17.3866C14.9992 16.7503 14.3522 16.2502 13.5286 16.2502Z" fill="#FFDC52"></path></svg>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.16577 4.44448C4.36022 4.44448 4.48985 4.31484 4.48985 4.1204V2.82408C4.48985 2.62963 4.36022 2.5 4.16577 2.5H2.22129C1.67036 2.5 1.24905 3.01853 1.24905 3.63428V6.93989C1.24905 8.43065 2.2537 9.62975 3.51761 9.62975H4.16577C4.36022 9.62975 4.48985 9.50012 4.48985 9.30567V8.00935C4.48985 7.8149 4.36022 7.68527 4.16577 7.68527H3.84169C3.55002 7.68527 3.19353 7.23156 3.19353 6.55099V4.44448H4.16577Z" fill="#FFB800"></path><path d="M17.777 2.5H15.8326C15.6381 2.5 15.5085 2.62963 15.5085 2.82408V4.1204C15.5085 4.31485 15.6381 4.44448 15.8326 4.44448H16.8048V6.55099C16.8048 7.23156 16.4483 7.68527 16.1566 7.68527H15.8326C15.6381 7.68527 15.5085 7.8149 15.5085 8.00935V9.30567C15.5085 9.50012 15.6381 9.62975 15.8326 9.62975H16.4807C17.7446 9.62975 18.7493 8.43066 18.7493 6.93989V3.63428C18.7493 3.01853 18.328 2.5 17.777 2.5Z" fill="#FFB800"></path><path d="M11.655 12.8335C11.6136 12.6251 11.448 12.5001 11.241 12.5001H8.75719C8.55021 12.5001 8.38462 12.6251 8.34323 12.8335L7.51529 17.0002C7.4739 17.1252 7.51529 17.2502 7.59809 17.3335C7.68088 17.4169 7.80507 17.5002 7.92926 17.5002H12.0689C12.1931 17.5002 12.3173 17.4585 12.4001 17.3335C12.4829 17.2502 12.5243 17.1252 12.4829 17.0002L11.655 12.8335Z" fill="#FFB800"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.07801 1.25H15.9203C16.1177 1.25 16.2493 1.39286 16.2493 1.60715V9.10727C16.2493 11.6787 14.3413 13.7502 11.9729 13.7502H8.02544C5.65698 13.7502 3.74905 11.6787 3.74905 9.10727V1.60715C3.74905 1.39286 3.88064 1.25 4.07801 1.25ZM10.4909 5.31791C10.2897 4.8941 9.70842 4.8941 9.50725 5.31791L9.15957 6.05036C9.07968 6.21866 8.92526 6.33531 8.74663 6.36229L7.96918 6.47975C7.51934 6.54771 7.33973 7.12247 7.66523 7.45236L8.22779 8.0225C8.35705 8.1535 8.41604 8.34224 8.38552 8.52722L8.25272 9.33226C8.17588 9.79807 8.64613 10.1533 9.04848 9.93337L9.74384 9.55328C9.90362 9.46594 10.0945 9.46594 10.2543 9.55328L10.9496 9.93337C11.352 10.1533 11.8222 9.79807 11.7454 9.33226L11.6126 8.52722C11.5821 8.34224 11.6411 8.1535 11.7703 8.0225L12.3329 7.45236C12.6584 7.12247 12.4788 6.54771 12.0289 6.47975L11.2515 6.36229C11.0728 6.33531 10.9184 6.21866 10.8385 6.05036L10.4909 5.31791Z" fill="#FFDC52"></path><path d="M13.5286 16.2502H6.46967C5.64612 16.2502 4.99905 16.7503 4.99905 17.3866V18.523C4.99905 18.6594 5.1167 18.7503 5.29318 18.7503H14.7051C14.8816 18.7503 14.9992 18.6594 14.9992 18.523V17.3866C14.9992 16.7503 14.3522 16.2502 13.5286 16.2502Z" fill="#FFDC52"></path></svg>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.16577 4.44448C4.36022 4.44448 4.48985 4.31484 4.48985 4.1204V2.82408C4.48985 2.62963 4.36022 2.5 4.16577 2.5H2.22129C1.67036 2.5 1.24905 3.01853 1.24905 3.63428V6.93989C1.24905 8.43065 2.2537 9.62975 3.51761 9.62975H4.16577C4.36022 9.62975 4.48985 9.50012 4.48985 9.30567V8.00935C4.48985 7.8149 4.36022 7.68527 4.16577 7.68527H3.84169C3.55002 7.68527 3.19353 7.23156 3.19353 6.55099V4.44448H4.16577Z" fill="#FFB800"></path><path d="M17.777 2.5H15.8326C15.6381 2.5 15.5085 2.62963 15.5085 2.82408V4.1204C15.5085 4.31485 15.6381 4.44448 15.8326 4.44448H16.8048V6.55099C16.8048 7.23156 16.4483 7.68527 16.1566 7.68527H15.8326C15.6381 7.68527 15.5085 7.8149 15.5085 8.00935V9.30567C15.5085 9.50012 15.6381 9.62975 15.8326 9.62975H16.4807C17.7446 9.62975 18.7493 8.43066 18.7493 6.93989V3.63428C18.7493 3.01853 18.328 2.5 17.777 2.5Z" fill="#FFB800"></path><path d="M11.655 12.8335C11.6136 12.6251 11.448 12.5001 11.241 12.5001H8.75719C8.55021 12.5001 8.38462 12.6251 8.34323 12.8335L7.51529 17.0002C7.4739 17.1252 7.51529 17.2502 7.59809 17.3335C7.68088 17.4169 7.80507 17.5002 7.92926 17.5002H12.0689C12.1931 17.5002 12.3173 17.4585 12.4001 17.3335C12.4829 17.2502 12.5243 17.1252 12.4829 17.0002L11.655 12.8335Z" fill="#FFB800"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.07801 1.25H15.9203C16.1177 1.25 16.2493 1.39286 16.2493 1.60715V9.10727C16.2493 11.6787 14.3413 13.7502 11.9729 13.7502H8.02544C5.65698 13.7502 3.74905 11.6787 3.74905 9.10727V1.60715C3.74905 1.39286 3.88064 1.25 4.07801 1.25ZM10.4909 5.31791C10.2897 4.8941 9.70842 4.8941 9.50725 5.31791L9.15957 6.05036C9.07968 6.21866 8.92526 6.33531 8.74663 6.36229L7.96918 6.47975C7.51934 6.54771 7.33973 7.12247 7.66523 7.45236L8.22779 8.0225C8.35705 8.1535 8.41604 8.34224 8.38552 8.52722L8.25272 9.33226C8.17588 9.79807 8.64613 10.1533 9.04848 9.93337L9.74384 9.55328C9.90362 9.46594 10.0945 9.46594 10.2543 9.55328L10.9496 9.93337C11.352 10.1533 11.8222 9.79807 11.7454 9.33226L11.6126 8.52722C11.5821 8.34224 11.6411 8.1535 11.7703 8.0225L12.3329 7.45236C12.6584 7.12247 12.4788 6.54771 12.0289 6.47975L11.2515 6.36229C11.0728 6.33531 10.9184 6.21866 10.8385 6.05036L10.4909 5.31791Z" fill="#FFDC52"></path><path d="M13.5286 16.2502H6.46967C5.64612 16.2502 4.99905 16.7503 4.99905 17.3866V18.523C4.99905 18.6594 5.1167 18.7503 5.29318 18.7503H14.7051C14.8816 18.7503 14.9992 18.6594 14.9992 18.523V17.3866C14.9992 16.7503 14.3522 16.2502 13.5286 16.2502Z" fill="#FFDC52"></path></svg>

                        </div>

                        <a href="~/Study">Tiếp tục học<i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
                <h4>Study Plan</h4>
                <div class="khuon2">
                    <div class="scroll">
                        <img src="/img/scroll.png" alt="">
                    </div>
                    <div class="card-tientrinh">
                        <div class="card-tren">
                            <div class="text-qt">
                                <h6>Bạn đang ở Study Plan</h6>
                                <h4>@ViewBag.bai.tenKhoaHoc<br> Update 2024</h4>
                            </div>
                            <div class="btn-next">
                                <a href="@Url.Action("Index", "Studyplant", new { mabai = ViewBag.bai.maKhoaHoc })">
                                    Tiếp tục học <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-duoi">
                            <div class="tt-tren">
                                <div class="muctieu">
                                    <svg data-v-41021cef="" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path data-v-41021cef="" fill-rule="evenodd" clip-rule="evenodd" d="M5.33301 5.48149V6.66667C5.33301 8.13943 6.52692 9.33334 7.99967 9.33334C9.47243 9.33334 10.6663 8.13943 10.6663 6.66667V5.48149L8.81195 6.30566C8.29482 6.5355 7.70453 6.5355 7.1874 6.30566L5.33301 5.48149ZM12.333 4.74075V7.66667C12.333 7.94281 12.5569 8.16667 12.833 8.16667C13.1092 8.16667 13.333 7.94281 13.333 7.66667V4.29565C13.3269 4.29879 13.3207 4.30177 13.3143 4.30461L12.333 4.74075Z" fill="#1479F3"></path><path data-v-41021cef="" opacity="0.4" d="M2.68526 3.6954L7.18762 1.69435C7.70475 1.46451 8.29505 1.46451 8.81218 1.69435L13.3145 3.6954C13.5785 3.81271 13.5785 4.1873 13.3145 4.30461L8.81218 6.30566C8.29505 6.53549 7.70475 6.53549 7.18762 6.30566L2.68526 4.30461C2.42132 4.1873 2.42132 3.81271 2.68526 3.6954Z" fill="#1479F3"></path><path data-v-41021cef="" opacity="0.4" d="M9.53287 10.2664L8.47386 11.3373C8.21292 11.6011 7.78676 11.6011 7.52582 11.3373L6.4668 10.2664C6.3032 10.101 6.06438 10.0305 5.84117 10.0961C3.97108 10.6461 2.6665 11.8886 2.6665 13.3334C2.6665 14.0697 3.26346 14.6667 3.99984 14.6667H11.9998C12.7362 14.6667 13.3332 14.0697 13.3332 13.3334C13.3332 11.8886 12.0286 10.6461 10.1585 10.0961C9.9353 10.0305 9.69647 10.101 9.53287 10.2664Z" fill="#1479F3"></path></svg>
                                    <h6>Mục tiêu: 400+</h6>
                                </div>
                                <div class="baihoc">
                                    <svg data-v-41021cef="" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><circle data-v-41021cef="" cx="8" cy="8" r="4" fill="#1479F3"></circle><path data-v-41021cef="" fill-rule="evenodd" clip-rule="evenodd" d="M1.3335 8.00402C1.3335 4.32433 4.32577 1.3335 8.00016 1.3335C11.6746 1.3335 14.6668 4.32433 14.6668 8.00402C14.6668 11.676 11.6746 14.6668 8.00016 14.6668C4.32577 14.6668 1.3335 11.676 1.3335 8.00402ZM10.4455 8.67857C10.5163 8.60781 10.6064 8.49847 10.6257 8.47274C10.7286 8.33767 10.7801 8.17044 10.7801 8.00386C10.7801 7.81669 10.7222 7.64303 10.6128 7.50153C10.6038 7.49257 10.5863 7.47346 10.5634 7.44856C10.5206 7.40197 10.4592 7.33509 10.4004 7.27641C9.87277 6.7104 8.49568 5.78421 7.77496 5.50121C7.66556 5.45683 7.38886 5.3597 7.24085 5.35327C7.09928 5.35327 6.96415 5.38543 6.83545 5.44975C6.67457 5.5398 6.54587 5.6813 6.47509 5.84853C6.43004 5.9643 6.35926 6.31163 6.35926 6.31806C6.28847 6.69754 6.24986 7.315 6.24986 7.99678C6.24986 8.64705 6.28847 9.23814 6.34639 9.62405C6.34798 9.62565 6.35352 9.65325 6.36211 9.69612C6.38826 9.82648 6.44272 10.098 6.50083 10.2094C6.6424 10.4795 6.9191 10.6467 7.21511 10.6467H7.24085C7.4339 10.6403 7.83931 10.4731 7.83931 10.4666C8.52142 10.1836 9.86634 9.30246 10.4069 8.71716L10.4455 8.67857Z" fill="#E5F1FF"></path></svg>
                                    <h6>@ViewBag.sb Bài học</h6>
                                </div>
                            </div>
                            <div class="tt-duoi">
                                <h6>Chặng này bao gồm các khóa: TOEIC Ngữ Pháp Cơ Bản, TOEIC Từ Vựng Cơ Bản</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="khuon3">
                    <div class="khoahoc-title">
                        <div class="khoahoc-title-name">
                            <h4>Khoá học của tôi</h4>
                        </div>
                        <div class="xem-all">
                            <a href="#">Xem tất cả khoá học</a>
                        </div>
                    </div>
                    <div class="card-khoa">
                        @foreach (var item in Model)
                        {
                            <div class="card-khoahoc">
                                <div class="anh-khoahoc1">
                                    <img src="/img/toeicnguphap.jpg" alt="">
                                </div>
                                <div class="card-khoahoc1-title" style="padding-top:15px;">
                                    <a href="@Url.Action("Index", "Studyplant", new { mabai = item.MaKhoaHoc })" >
                                        @item.TenKhoaHoc
                                    </a>
                                </div>
                                <div class="trangthai" style="padding-top: 30px;">
                                    @if (item.TienDo == item.TotalLessons)
                                    {
                                        <h6>Đã hoàn thành</h6>
                                    }
                                    else
                                    {
                                        <h6>Chưa hoàn thành</h6>
                                    }
                                    <svg data-v-9f063922="" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.16623 4.44448C4.36067 4.44448 4.49031 4.31484 4.49031 4.1204V2.82408C4.49031 2.62963 4.36067 2.5 4.16623 2.5H2.22175C1.67081 2.5 1.24951 3.01853 1.24951 3.63428V6.93989C1.24951 8.43065 2.25416 9.62975 3.51807 9.62975H4.16623C4.36067 9.62975 4.49031 9.50012 4.49031 9.30567V8.00935C4.49031 7.8149 4.36067 7.68527 4.16623 7.68527H3.84215C3.55048 7.68527 3.19399 7.23156 3.19399 6.55099V4.44448H4.16623Z" fill="#FFB800"></path><path d="M17.7773 2.5H15.8329C15.6384 2.5 15.5088 2.62963 15.5088 2.82408V4.1204C15.5088 4.31485 15.6384 4.44448 15.8329 4.44448H16.8051V6.55099C16.8051 7.23156 16.4486 7.68527 16.1569 7.68527H15.8329C15.6384 7.68527 15.5088 7.8149 15.5088 8.00935V9.30567C15.5088 9.50012 15.6384 9.62975 15.8329 9.62975H16.481C17.7449 9.62975 18.7496 8.43066 18.7496 6.93989V3.63428C18.7496 3.01853 18.3283 2.5 17.7773 2.5Z" fill="#FFB800"></path><path d="M11.6554 12.8333C11.614 12.625 11.4484 12.5 11.2415 12.5H8.75765C8.55067 12.5 8.38508 12.625 8.34369 12.8333L7.51575 17.0001C7.47436 17.1251 7.51575 17.2501 7.59855 17.3334C7.68134 17.4167 7.80553 17.5001 7.92972 17.5001H12.0694C12.1936 17.5001 12.3178 17.4584 12.4006 17.3334C12.4834 17.2501 12.5248 17.1251 12.4834 17.0001L11.6554 12.8333Z" fill="#FFB800"></path><path d="M15.9208 1.25H4.07846C3.88109 1.25 3.74951 1.39286 3.74951 1.60715V9.10727C3.74951 11.6787 5.65744 13.7502 8.0259 13.7502H11.9733C14.3418 13.7502 16.2497 11.6787 16.2497 9.10727V1.60715C16.2497 1.39286 16.1181 1.25 15.9208 1.25Z" fill="#FFDC52"></path><path d="M9.50775 5.31786C9.70892 4.89405 10.2902 4.89405 10.4914 5.31786L10.839 6.05031C10.9189 6.21861 11.0733 6.33526 11.252 6.36224L12.0294 6.4797C12.4793 6.54766 12.6589 7.12242 12.3334 7.45231L11.7708 8.02245C11.6416 8.15345 11.5826 8.34219 11.6131 8.52716L11.7459 9.33221C11.8227 9.79802 11.3525 10.1532 10.9501 9.93332L10.2548 9.55323C10.095 9.46589 9.90412 9.46589 9.74434 9.55323L9.04898 9.93332C8.64663 10.1532 8.17638 9.79802 8.25322 9.33221L8.38602 8.52716C8.41654 8.34219 8.35755 8.15345 8.22829 8.02245L7.66573 7.45231C7.34023 7.12242 7.51984 6.54766 7.96968 6.4797L8.74713 6.36224C8.92576 6.33526 9.08018 6.21861 9.16007 6.05031L9.50775 5.31786Z" fill="white"></path><path d="M13.5291 16.2505H6.47012C5.64658 16.2505 4.99951 16.7505 4.99951 17.3869V18.5233C4.99951 18.6596 5.11716 18.7505 5.29363 18.7505H14.7056C14.882 18.7505 14.9997 18.6596 14.9997 18.5233V17.3869C14.9997 16.7505 14.3526 16.2505 13.5291 16.2505Z" fill="#FFDC52"></path></svg>
                                    <p>@item.TienDo/@item.TotalLessons</p>
                                </div>
                            </div>
                        }

                        
                                <div class="card-khoahoc">
                                    <div class="anh-khoahoc1">
                                        <img src="/img/toeiclr600.jpg" alt="">
                                    </div>
                                    <div class="card-khoahoc1-title">
                                        <h4>TOEIC Ngữ Pháp Cơ Bản </h4>
                                    </div>
                                    <div class="trangthai">
                                        <h6>Đã hoàn thành</h6>
                                        <svg data-v-9f063922="" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.16623 4.44448C4.36067 4.44448 4.49031 4.31484 4.49031 4.1204V2.82408C4.49031 2.62963 4.36067 2.5 4.16623 2.5H2.22175C1.67081 2.5 1.24951 3.01853 1.24951 3.63428V6.93989C1.24951 8.43065 2.25416 9.62975 3.51807 9.62975H4.16623C4.36067 9.62975 4.49031 9.50012 4.49031 9.30567V8.00935C4.49031 7.8149 4.36067 7.68527 4.16623 7.68527H3.84215C3.55048 7.68527 3.19399 7.23156 3.19399 6.55099V4.44448H4.16623Z" fill="#FFB800"></path><path d="M17.7773 2.5H15.8329C15.6384 2.5 15.5088 2.62963 15.5088 2.82408V4.1204C15.5088 4.31485 15.6384 4.44448 15.8329 4.44448H16.8051V6.55099C16.8051 7.23156 16.4486 7.68527 16.1569 7.68527H15.8329C15.6384 7.68527 15.5088 7.8149 15.5088 8.00935V9.30567C15.5088 9.50012 15.6384 9.62975 15.8329 9.62975H16.481C17.7449 9.62975 18.7496 8.43066 18.7496 6.93989V3.63428C18.7496 3.01853 18.3283 2.5 17.7773 2.5Z" fill="#FFB800"></path><path d="M11.6554 12.8333C11.614 12.625 11.4484 12.5 11.2415 12.5H8.75765C8.55067 12.5 8.38508 12.625 8.34369 12.8333L7.51575 17.0001C7.47436 17.1251 7.51575 17.2501 7.59855 17.3334C7.68134 17.4167 7.80553 17.5001 7.92972 17.5001H12.0694C12.1936 17.5001 12.3178 17.4584 12.4006 17.3334C12.4834 17.2501 12.5248 17.1251 12.4834 17.0001L11.6554 12.8333Z" fill="#FFB800"></path><path d="M15.9208 1.25H4.07846C3.88109 1.25 3.74951 1.39286 3.74951 1.60715V9.10727C3.74951 11.6787 5.65744 13.7502 8.0259 13.7502H11.9733C14.3418 13.7502 16.2497 11.6787 16.2497 9.10727V1.60715C16.2497 1.39286 16.1181 1.25 15.9208 1.25Z" fill="#FFDC52"></path><path d="M9.50775 5.31786C9.70892 4.89405 10.2902 4.89405 10.4914 5.31786L10.839 6.05031C10.9189 6.21861 11.0733 6.33526 11.252 6.36224L12.0294 6.4797C12.4793 6.54766 12.6589 7.12242 12.3334 7.45231L11.7708 8.02245C11.6416 8.15345 11.5826 8.34219 11.6131 8.52716L11.7459 9.33221C11.8227 9.79802 11.3525 10.1532 10.9501 9.93332L10.2548 9.55323C10.095 9.46589 9.90412 9.46589 9.74434 9.55323L9.04898 9.93332C8.64663 10.1532 8.17638 9.79802 8.25322 9.33221L8.38602 8.52716C8.41654 8.34219 8.35755 8.15345 8.22829 8.02245L7.66573 7.45231C7.34023 7.12242 7.51984 6.54766 7.96968 6.4797L8.74713 6.36224C8.92576 6.33526 9.08018 6.21861 9.16007 6.05031L9.50775 5.31786Z" fill="white"></path><path d="M13.5291 16.2505H6.47012C5.64658 16.2505 4.99951 16.7505 4.99951 17.3869V18.5233C4.99951 18.6596 5.11716 18.7505 5.29363 18.7505H14.7056C14.882 18.7505 14.9997 18.6596 14.9997 18.5233V17.3869C14.9997 16.7505 14.3526 16.2505 13.5291 16.2505Z" fill="#FFDC52"></path></svg>
                                        <p>46/34</p>
                                    </div>

                                </div>
                                <div class="card-khoahoc">
                                    <div class="anh-khoahoc1">
                                        <img src="/img/toeictuvung.jpg" alt="">
                                    </div>
                                    <div class="card-khoahoc1-title">
                                        <h4>TOEIC Ngữ Pháp Cơ Bản </h4>
                                    </div>
                                    <div class="trangthai">
                                        <h6>Đã hoàn thành</h6>
                                        <svg data-v-9f063922="" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.16623 4.44448C4.36067 4.44448 4.49031 4.31484 4.49031 4.1204V2.82408C4.49031 2.62963 4.36067 2.5 4.16623 2.5H2.22175C1.67081 2.5 1.24951 3.01853 1.24951 3.63428V6.93989C1.24951 8.43065 2.25416 9.62975 3.51807 9.62975H4.16623C4.36067 9.62975 4.49031 9.50012 4.49031 9.30567V8.00935C4.49031 7.8149 4.36067 7.68527 4.16623 7.68527H3.84215C3.55048 7.68527 3.19399 7.23156 3.19399 6.55099V4.44448H4.16623Z" fill="#FFB800"></path><path d="M17.7773 2.5H15.8329C15.6384 2.5 15.5088 2.62963 15.5088 2.82408V4.1204C15.5088 4.31485 15.6384 4.44448 15.8329 4.44448H16.8051V6.55099C16.8051 7.23156 16.4486 7.68527 16.1569 7.68527H15.8329C15.6384 7.68527 15.5088 7.8149 15.5088 8.00935V9.30567C15.5088 9.50012 15.6384 9.62975 15.8329 9.62975H16.481C17.7449 9.62975 18.7496 8.43066 18.7496 6.93989V3.63428C18.7496 3.01853 18.3283 2.5 17.7773 2.5Z" fill="#FFB800"></path><path d="M11.6554 12.8333C11.614 12.625 11.4484 12.5 11.2415 12.5H8.75765C8.55067 12.5 8.38508 12.625 8.34369 12.8333L7.51575 17.0001C7.47436 17.1251 7.51575 17.2501 7.59855 17.3334C7.68134 17.4167 7.80553 17.5001 7.92972 17.5001H12.0694C12.1936 17.5001 12.3178 17.4584 12.4006 17.3334C12.4834 17.2501 12.5248 17.1251 12.4834 17.0001L11.6554 12.8333Z" fill="#FFB800"></path><path d="M15.9208 1.25H4.07846C3.88109 1.25 3.74951 1.39286 3.74951 1.60715V9.10727C3.74951 11.6787 5.65744 13.7502 8.0259 13.7502H11.9733C14.3418 13.7502 16.2497 11.6787 16.2497 9.10727V1.60715C16.2497 1.39286 16.1181 1.25 15.9208 1.25Z" fill="#FFDC52"></path><path d="M9.50775 5.31786C9.70892 4.89405 10.2902 4.89405 10.4914 5.31786L10.839 6.05031C10.9189 6.21861 11.0733 6.33526 11.252 6.36224L12.0294 6.4797C12.4793 6.54766 12.6589 7.12242 12.3334 7.45231L11.7708 8.02245C11.6416 8.15345 11.5826 8.34219 11.6131 8.52716L11.7459 9.33221C11.8227 9.79802 11.3525 10.1532 10.9501 9.93332L10.2548 9.55323C10.095 9.46589 9.90412 9.46589 9.74434 9.55323L9.04898 9.93332C8.64663 10.1532 8.17638 9.79802 8.25322 9.33221L8.38602 8.52716C8.41654 8.34219 8.35755 8.15345 8.22829 8.02245L7.66573 7.45231C7.34023 7.12242 7.51984 6.54766 7.96968 6.4797L8.74713 6.36224C8.92576 6.33526 9.08018 6.21861 9.16007 6.05031L9.50775 5.31786Z" fill="white"></path><path d="M13.5291 16.2505H6.47012C5.64658 16.2505 4.99951 16.7505 4.99951 17.3869V18.5233C4.99951 18.6596 5.11716 18.7505 5.29363 18.7505H14.7056C14.882 18.7505 14.9997 18.6596 14.9997 18.5233V17.3869C14.9997 16.7505 14.3526 16.2505 13.5291 16.2505Z" fill="#FFDC52"></path></svg>
                                        <p>46/34</p>
                                    </div>
                                </div>
                            


                    </div>
                </div>

            </div>
            <div class="con-learn_2">
                <div class="card_tt">
                    <h4>Learning Profile</h4>
                    <h6>Prep sẽ sớm cập nhật Hồ sơ học tập của bạn<br> trong chương trình !</h6>
                </div>

            </div>

        </div>

    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="~/js/study.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
